<!DOCTYPE html>
<html>
<html lang="en">

<head>
  <title>Optie RSVP</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


  <link rel="stylesheet" href="../styles/layout.css" type="text/css">
</head>

<body>
  <pre style="margin-top: 5em"><%= JSON.stringify({ user, event, slots}, null, 4) %></pre>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">OPTIE</a>
    </div>
  </nav>
  <div class="container">
    <p>You have been invited by <strong>James Smith</strong> to:</p>
    <h2>Grouse Grind Hike</h2>
    <p class="break">Meeting Point:</p>
    <h3>Grind Trailhead</h3>
    <p class="break">Description:</p>
    <p class="desc">Let's do the grouse grind, Beers afterwards!</p>
    <h4>RSVP:</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Full Name:</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Email:</label>
          </div>
        </div>
        <p>Share your Avalibility</p>
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box" />
          <label for="filled-in-box">10/5/2018 - 6:00am - 9:00pm - 6 Votes</label>
        </p>
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box1" />
          <label for="filled-in-box1">10/5/2018 - 9:00am - 6:00pm - 2 Votes</label>
        </p>
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box2" />
          <label for="filled-in-box2">10/5/2018 - 10:00am - 2:00pm - 0 Votes</label>
        </p>
        <a href="file:///Users/Stewart/lighthouse/optie/public/views/index.html#" id="create" class="waves-effect waves-light btn right" action="submit">Share RSVP</a>
      </form>
    </div>
  </div>
</body>

</html>
