<!DOCTYPE html>
<html lang="en">

<head>
  <title>Optie</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/layout.css">

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left">OPTIE</a>
      </div>
    </nav>

    <div class="container">
      <h1>Create an Events</h1>
      <form id="createEvent" method="POST" action="/event">
          <!-- Row 1 -->
          <div class="row">
 
            <div class="input-field col s6">
              <input id="user_name" name="user_name" type="text" class="validate">
              <label for="user_name">Full Name:</label>
            </div>

            <div class="input-field col s6">
              <input id="user_email" name="user_email" type="email" class="validate">
              <label for="user_email">Email:</label>
            </div>

          </div>
          <!-- Row 2 - 4 -->
          <div class="row">
              <div class="input-field col s12">
                <input id="event_title" name="event_title" type="text" class="validate">
                <label for="event_title">Event Title:</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                <input id="event_meeting" name="event_meeting" type="text" class="validate">
                <label for="event_meeting">Meeting Point:</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                <textarea id="event_description" name="event_description" class="materialize-textarea"></textarea>
                <label for="event_description">Description:</label>
              </div>
          </div>
          <!-- Row 5 - 7 -->
          <div class="row">
            <div class="input-field col s4">
              <label for="date">Event Date</label>
              <input type="text" class="datepicker">
            </div>
            <div class="input-field col s4">
              <label for="start">Start Time</label>
              <input type="text" class="timepicker">
            </div>
            <div class="input-field col s4">
              <label for="end">End Time</label>
              <input type="text" class="timepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <label for="date">Event Date</label>
              <input type="text" class="datepicker">
            </div>
            <div class="input-field col s4">
              <label for="start">Start Time</label>
              <input type="text" class="timepicker">
            </div>
            <div class="input-field col s4">
              <label for="end">End Time</label>
              <input type="text" class="timepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <label for="date">Event Date</label>
              <input type="text" class="datepicker">
            </div>
            <div class="input-field col s4">
              <label for="start">Start Time</label>
              <input type="text" class="timepicker">
            </div>
            <div class="input-field col s4">
              <label for="end">End Time</label>
              <input type="text" class="timepicker">
            </div>
          </div>
          <button id="create" type="submit" class="waves-effect waves-light btn right">Create Event</button>
          </form>
        </div>
    

  </body>
</html>
