<!DOCTYPE html>
<html lang="en">

<head>
  <title>Optie</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/layout.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300|Noto+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <script type="text/javascript" src="/scripts/moviment.js"></script>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="http://localhost:8080/" class="brand-logo left">OPTIE</a>
      </div>
    </nav>

  <div class="wrap">
    <div class="bg"></div>

  <div class="container">
      <h1>Create an Event</h1>
      <form method="POST" action="/create">
        <!-- Row 1 -->
        <div class="row">
          <div class="input-field col s6">
            <input name="user[user_name]" type="text" class="validate" required>
            <label for="user_name">Full Name:</label>
          </div>
          <div class="input-field col s6">
            <input name="user[user_email]" type="email" class="validate" required>
            <label for="user_email">Email:</label>
          </div>
        </div>
        <!-- Row 2 - 4 -->
        <div class="row">
          <div class="input-field col s12">
            <input name="event[event_title]" type="text" class="validate" required>
            <label for="event_title">Event Title:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="event[event_meeting]" type="text" class="validate" required>
            <label for="event_meeting">Meeting Point:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="event_description" name="event[event_description]" class="materialize-textarea"></textarea>
            <label for="event_description">Description:</label>
          </div>
        </div>
        <!-- Row 5 - 7 -->
        <div id='possible-slots'>
          <div class="row">
            <h4>When is your event?</h4>
            <div class="input-field col s4">
              <label for="date">Event Date</label>
              <input type="text" name="suggestions[0][slot_date]" class="datepicker">
            </div>
            <div class="input-field col s3">
              <label for="start0">Start Time</label>
              <input id="start0" type="text" name="suggestions[0][slot_start]" class="timepicker">
            </div>
            <div class="input-field col s3">
              <label for="end0">End Time</label>
              <input id="end0" type="text" name="suggestions[0][slot_end]" class="timepicker">
            </div>
          </div>
        </div>
        <!--addMoreEvent & delete button-->
        <div>
          <button class="addMoreSlotsBtn" type="button">Suggest Another Time</button>
        </div>
        <!--addMoreEvent & delete end-->
        <button id="create" type="submit" class="waves-effect waves-light btn right">Create Event</button>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    $(function () {
      function activeTimePicker() {
        $('.timepicker').pickatime({
          default: '12:00pm', // Set default time: 'now', '1:30AM', '16:30'
          fromnow: 0, // set default time to * milliseconds from now (using with default = 'now')
          twelvehour: true, // Use AM/PM or 24-hour format
          donetext: 'OK', // text for done-button
          cleartext: 'Clear', // text for clear-button
          canceltext: 'Cancel', // Text for cancel-button
          autoclose: false, // automatic close timepicker
          ampmclickable: true, // make AM PM clickable
          // aftershow: function() {} //Function for after opening timepicker
        });
      }

      function activeDatePicker() {
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year,
          today: 'Today',
          clear: 'Clear',
          close: 'Ok',
          closeOnSelect: false // Close upon selecting a date,
        });
      }

      activeDatePicker();
      activeTimePicker();
      //add more slots after click the Add
      var $possibleSlots = $("#possible-slots");
      var id = 1;
      function makeNewSlotBlock() {
        var content =
        `<div class="row form-block">
            <div class="input-field col s4">
              <label for="date${id}">Event Date</label>
              <input id="date${id}" name="suggestions[${id}][slot_date]" class="datepicker">
            </div>
            <div class="input-field col s3">
              <label for="start${id}">Start Time</label>
              <input id="start${id}" type="text" name="suggestions[${id}][slot_start]" class="timepicker">
            </div>
            <div class="input-field col s3">
              <label for="end${id}">End Time</label>
              <input id="end${id}" type="text" name="suggestions[${id}][slot_end]" class="timepicker">
            </div>
            <div class="input-field col s2">
              <button class="deleteSlotsBtn" type="button">Delete</button>
            </div>
          </div>`

        id ++;

        return content;
      }

      $(".addMoreSlotsBtn").on("click", function () {
        $possibleSlots.append(makeNewSlotBlock());
        activeDatePicker();
        activeTimePicker();
        $(".deleteSlotsBtn").on("click", function (event) {
          event.stopPropagation();
          $(this).parent().parent().remove();
        });
      });
    });
  </script>
  </body>
</html>
