
html, body {
  height: 100%;
}
.wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrap .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../img/background_hd.jpg') no-repeat center center;
  background-size: cover;
  transform: scale(1.1);
}

.container {
  width: 60%;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 1em;
  padding: 4em;
  margin-top: 300px;

}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#opt{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: #327AF9;
}
